@media (min-width: 800px) {
    .bottom-nav {
        position: relative;
        border-bottom: 1px solid #ccc;
        border-top: none;
    }

    .container {
        margin: 0 auto;
        max-width: 1100px;
    }

    .container img {
        border-radius: 10px;
    }

    .container .warehouse {
        width: 600px;
        margin: 0 auto;
    }

    table.result {
        width: 80%;
    }

    table.results th {
        font-size: 1.1em;
    }

    table.results td {
        font-size: 1em;
    }
}
