$background: white;
$background-colour: #ebe5d5;
$title-font: 'Source Sans Pro', sans-serif;
$header-font-colour: white;
$header-background-colour: black;
$heading-font: 'Bitter', sans-serif;
$paragraph-font: 'Droid Sans', serif;
$body-font: 'Lora', sans-serif;

$button-colour: #0a176f;
$button-hover: #4caf50;
$button-text-colour: white;

$nav-colour: #666;
$nav-colour-active: blue;

$table-background: white;
$table-th-colour: white;
$table-th-background: black;
$table-tr-colour: white;
$table-tr-colour-hover: yellow;
$table-tr-background: #414161;
