$line-height: 1.4;
$body-font-size: 1rem;

$background: #fefefe;
$background-colour: #e5e5e5;
$title-font: 'Source Sans Pro', sans-serif;
$header-font-colour: white;
$header-background-colour: #d02729;
$heading-font: 'Source Sans Pro', sans-serif;
$paragraph-font: 'Droid Sans', serif;
$body-font: 'Helvetica', sans-serif;

$button-colour: #d02729;
$button-hover: #4caf50;
$button-text-colour: white;

$nav-colour: black;
$nav-colour-active: #d02729;

$table-background: white;
$table-th-colour: white;
$table-th-background: black;
$table-tr-colour: white;
$table-tr-colour-hover: yellow;
$table-tr-background: #fff;
$table-tr-background-hover: #414161;
