.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: $background;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 1;
}

.bottom-nav a {
    text-decoration: none;
    text-align: center;
    color: $nav-colour;
}

.bottom-nav a.active {
    color: $nav-colour-active;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.7rem;
}
